BasedOnStyle: Mozilla
PointerBindsToType: true
Standard: c++17
IndentWidth: 4
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true
FixNamespaceComments: true
ReflowComments: false
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
BreakBeforeBinaryOperators: true
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeInheritanceColon: true
IndentPPDirectives: BeforeHash
Language: Cpp
ColumnLimit: 140